/* Reset and general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0f0c10;
  color: #898b89;
}

header {
  background-color: #0c0c0c;
  color: #fbfbfb;
  text-align: right;
  padding: 20px 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 20px;
}

 .array-inputs {
  /* display: flex;
  align-items: center; */
  position: absolute;
  left: 50px;
  height: 70px;
  width: 300px;
  
  padding: 50px;
}

.array-inputs p {
  padding-top: 20px;
  margin-right: 100px;
  font-weight: bold;
  
}

nav .header_right {
  display: flex;
  justify-content: flex-end;
}


.btn-prop {
  padding: 12px 24px;
  background-color: #323131;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-prop:hover {
  background-color: #2307f5;
  transform: scale(1.05);
}

.algos {
  display: none; /* Initially hide */
  flex-direction: column; /* Stack buttons vertically */
  /* Align buttons to the left */
  margin-top: 5px;
  
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #3b3c3d;
  padding: 10px;
}

.algos button {
  margin: 10px;
  padding: 12px 24px;
  background-color: #474545;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  
  
}

.algos button:hover {
  background-color: #585858;
  transform: scale(1.05);
}

#array_container {
  
  display: flex;
  align-items: flex-end;
  height: 50vh;
  overflow: hidden;
  justify-content: flex-start; /* Align items to the left */
  margin-right: 50px; 
  
  width: 1200px;
  height: 430px;
  padding: 20px;
  border: 1px solid rgb(221, 196, 196);
  
}

.main-title {
  font-size: 3.5em;
  color: #e31010;
  text-align: center;
  margin-top: 20;
  font-family: 'Roboto', sans-serif;
  transition: transform 0.3s ease, color 0.3s ease;
}

.main-title:hover {
  transform: scale(1.1);
  color: #2e23f9;
}
